<div class="section email-screen">
    <h1>Thank you</h1>
    <p>Please send us your email address so that we can send you the results</p>
    <form id="data">
        <input type="text" name="email" placeholder="enter your email">
    </form>
    <button type="button" class="continue">Get Result</button>
</div>