<div class="section test-screen">
    <h1>New question!</h1>
    <p>Lorem ipsum dolor sit amet...</p>
    <form id="data">
        <input type="text" name="email" />
    </form>
    <button type="button" class="continue">Continue</button>
</div>