<p>We need to recalibrate our neural pathways and restructure our node maps...or this page just timed out.</p>
<p>{{ code }}</p>
<p>Either way restart the tool to continue by clicking <a onclick="window.location.reload()">here</a></p>