<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>

<div id="container">
    <div id="data_container">
        <form id="data">
            <input type="text" name="name" />
        </form>
    </div>
    <button id="continue">Continue</button>
</div>

